* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Crunchyroll {
	position: absolute;
	width: 1920px;
	height: 2050px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;

}
#Rectangle_2 {
	fill: rgba(35,35,35,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 2050px;
	left: 0px;
	top: 0px;
}
#DemonSlayerLargeC {
	position: absolute;
	width: 1398px;
	height: 783px;
	left: 261px;
	top: 131px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(103,113,117,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 1938px;
	height: 134px;
	left: 0px;
	top: 0px;
}
#CR {
	position: absolute;
	width: 215px;
	height: 44px;
	left: 102px;
	top: 47px;
	overflow: visible;
}
#CR_logo_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 118px;
	height: 66px;
	left: 0px;
	top: 25px;
	overflow: visible;
}
#Shows {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 379px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,118,15,1);
}
#Manga {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 515px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,118,15,1);
}
#News {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 919px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,118,15,1);
}
#Games {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 659px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,118,15,1);
}
#Polygon_1 {
	fill: rgba(255,118,15,1);
}
.Polygon_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 11px;
	transform: matrix(1,0,0,1,1000,64) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Store {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 799px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,118,15,1);
}
#Polygon_2 {
	fill: rgba(255,118,15,1);
}
.Polygon_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 11px;
	transform: matrix(1,0,0,1,472,64) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_1 {
	fill: rgba(255,118,15,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 1803px;
	top: 15px;
}
#Profil1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1818px;
	top: 30px;
	overflow: visible;
}
#Polygon_3 {
	fill: rgba(255,255,255,1);
}
.Polygon_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 11px;
	transform: matrix(1,0,0,1,1866,73) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#loop2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 85px;
	height: 85px;
	left: 1613px;
	top: 14px;
	overflow: visible;
}
#AssasinC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 132px;
	top: 1059px;
	overflow: visible;
}
#KomiC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 476px;
	top: 1059px;
	overflow: visible;
}
#MushukuC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 820px;
	top: 1059px;
	overflow: visible;
}
#BleachC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 1164px;
	top: 1059px;
	overflow: visible;
}
#BorutoC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 1508px;
	top: 1059px;
	overflow: visible;
}
#Trending_now {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 132px;
	top: 960px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,118,15,1);
}
#Action {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	left: 132px;
	top: 1505px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,118,15,1);
}
#DemonSlayerC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 1164px;
	top: 1604px;
	overflow: visible;
}
#BorutoC_ {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 820px;
	top: 1604px;
	overflow: visible;
}
#AssasinC_ {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 1508px;
	top: 1604px;
	overflow: visible;
}
#BleachC_ {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 476px;
	top: 1604px;
	overflow: visible;
}
#OnePieceC {
	position: absolute;
	width: 280px;
	height: 400px;
	left: 132px;
	top: 1604px;
	overflow: visible;
}
#Pil1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 244px;
	height: 244px;
	left: -50px;
	top: 1137px;
	overflow: visible;
}
#Pil1_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 244px;
	height: 244px;
	left: -50px;
	top: 1682px;
	overflow: visible;
}
#Pil1_ba {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 244px;
	height: 244px;
	left: 1728px;
	top: 1137px;
	overflow: visible;
}
#Pil1_bb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 244px;
	height: 244px;
	left: 1728px;
	top: 1682px;
	overflow: visible;
}
#Bookmark1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	width: 76px;
	height: 76px;
	left: 1703px;
	top: 20px;
	overflow: visible;
}